<ul class="list-reset">
  <%= Enum.map(@questions, fn question -> %>
    <li class="border my-2">
      <div class="w-full block p-4">
      <%= link(to: Routes.question_path(@conn, :show, question.id)) do %>
        <span class="text-xl"><%= question.title %></span>
      <% end %>
        <%= tags(question) %>
      </div>
    </li>
  <% end) %>
  <%=  if Enum.empty?(@questions) do %>
    <li class="border my-2">No Questions Found</li>
  <% end %>
</ul>
