<div class="bg-white shadow-md rounded p-8 mx-4 sm:mx-0">
  <h2 class="text-4xl"><%= Web.LayoutView.question_header_text(@conn) %></h2>

  <%= render(QuestionView, "_questions.html", questions: @questions, conn: @conn) %>

  <%= render(PaginationView, "show.html", pagination: @pagination, path: Routes.page_path(@conn, :index)) %>
</div>
