@tailwind base;

@tailwind components;

.btn-primary {
  @apply bg-teal-500 text-white font-bold py-2 px-4 rounded;
}

.btn-primary:focus {
  @apply outline-none shadow-outline;
}

.btn-primary:hover {
  @apply bg-teal-700;
}

.form {
  @apply px-8 pt-6 pb-8 mb-4;
}

.label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.input:focus {
  @apply outline-none shadow-outline;
}

.markdown a {
  @apply text-blue-500;
}

.markdown p {
  @apply my-4;
}

.markdown ol {
  @apply list-decimal list-inside;
}

.markdown ol li {
  @apply mt-2;
}

.markdown h2 {
  @apply text-2xl;
}

nav.pagination .link {
  @apply -ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700  transition ease-in-out duration-150;
}

nav.pagination .link.active {
  @apply z-10 outline-none border-blue-300;
}

nav.pagination .link:hover {
  @apply text-gray-500;
}

nav.pagination .link:focus {
  @apply z-10 outline-none border-blue-300;
}

nav.pagination .link:active {
  @apply bg-gray-100 text-gray-700;
}

@tailwind utilities;
