{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "markup", "elixir", "ruby"],
      "plugins": ["line-numbers"],
      "css": true
    }]
  ]
}
